  .flex-container {
    display: flex;
    justify-content: center;
  }
  
.flex-container > div {
    background-color: whitesmoke;
    width: 250px;
    margin: 50px;
    text-align: center;
    line-height: 250px;
    font-size: 1vw;
    border-radius: 50%;
    color: #008CBA;
    font-weight: bold;
  }

.favevent{
    background-color: whitesmoke;
    height:5em;
    width: 60%;
    display: flex;
}

.favevent > div:first-child{
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color:grey;
}

.favevent > div{
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
