<!----------------- Web Font applied here ------------------->
<link href="https://fonts.googleapis.com/css?family=Itim" rel="stylesheet">
<!-- Load jQuery first before bootstrap or else "Uncaught TypeError: Cannot read property 'fn' of undefined" -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</head>

<body>

<article id="about">

<div class="container-fluid pt-4">
<div class="row">

<section id="aboutme" class="col-sm col-lg-6 col-xl-7 bg-info p-1 p-lg-3">
	<h3>The Team</h3>
	<table class="table table-hover">
		<thead class="thead-light">
			<tr>
				<th>Name</th>
				<th>Student ID</th>
				<th>Workload Distribution</th>
			</tr>
			<tr>
		</thead>
		<tbody>
			<tr>
				<td>Michael Sanjaya Lau</td>
				<td>1155080217</td>
				<td>Admin Functions</td>
			</tr>
			<tr>
				<td>Nigel Nicholas</td>
				<td>1155088791</td>
				<td>User Functions</td>
			</tr>
			<tr>
				<td>Saswiko Karyono Jo</td>
				<td>1155074594</td>
				<td>UI & UX</td>
			</tr>
		</tbody>
	</table>
</section>

<section id="courses" class="col-sm col-lg-6 col-xl-5 bg-warning p-1 p-lg-3 shadow" >
	<h3>Technologies and Frameworks Applied</h3>


</section>
</div>
</div>

<div class="container-fluid pb-4">
<div class="row">
<section id="rswd"class="col-sm col-lg col-xl bg-success p-1 p-lg-3 shadow">
	<h3>Response Web Design<span class="badge badge-pill badge-light">New!</span></h3>
	<p>I devote myself to responsive web design. You can see in this page, when the screen width is adjusted, all the elements are resized accordingly for a smooth experience for the user. It is also displayed differently according to the device to view this page. Here are some points to note: </p>
	<ul>
		<li>Responsive font-size using "vw"</li>
		<li>Hobbies flex-box aligned accordingly (stacked vertically with small screens)</li>
		<li>Navbar becomes a sandwich bar on smaller screens and the options becomes vertically stacked</li>
		<li>Check out my <strong>Bonus!</strong></li>
	</ul>
</section>
</div>
</body>
</html>