<section id="create">
    <div class="container-fluid" style="width: 40%;margin-top: 1em;background-color: #F5F5F5;padding: 1em;border-radius: 15px">
        <h3 class='lead' style="font-weight: bold;text-align: center;">Create Event</h3>
        <form id="createEvent">
        <!-- <form style="display:none" id="reply"> -->
            <div class="form-group">
              <label class='lead' for="name"> Name: </label>
              <input type="text" class="form-control" id="ename">
            </div>
            <div class="form-group">
              <label class='lead' for="subject"> Time: </label>
              <input type="text" class="form-control" id="etime">
            </div>
            <div class="form-group">
              <label class='lead' for="subject"> Organization Name: </label>
              <input type="text" class="form-control" id="eorg">
            </div>
            <div class="form-group">
              <label class='lead' for="subject"> Venue: </label>
              <input type="text" class="form-control" id="evenue">
            </div>
            <div class="form-group">
              <label class='lead' for="subject"> Contacts: </label>
              <input type="text" class="form-control" id="econtacts">
            </div>
            
           <div class="text-center">
                <button id="submit"  class="btn btn-primary" type="button" onclick="postCreateEvent()">Add Event</button>
            </div>
        </form>
    </div>
</section>