<section>
        <div class="container-fluid" style="width: 40%;margin-top: 7em;background-color: #F5F5F5;padding: 1em;border-radius: 15px">
            <h3 class='lead' style="font-weight: bold;text-align: center;">Create User</h3>
        <form id="createUser">
        <!-- <form style="display:none" id="reply"> -->
          <div class="form-group">
              <label class='lead' for="name"> Name: </label>
              <input type="text" class="form-control" id="uname">
            </div>
            <div class="form-group">
              <label class='lead' for="subject"> Password: </label>
              <input type="text" class="form-control" id="upwd">
            </div>
            
            <div class="text-center">
           
                <button id="submit" class="btn btn-primary" type="button" onclick="postCreateUser()">Add User</button>
            

            </div>
        </form>
    </div>
</section>    