<section id="finduser">
        <div class="container-fluid" style="width: 40%;margin-top: 7em;background-color: #F5F5F5;padding: 1em;border-radius: 15px">
        <form id="findUser">
        <!-- <form style="display:none" id="reply"> -->
            <div class="form-group">
              <label class='lead' for="subject"> User Name: </label>
              <input type="text" class="form-control" id="urname" placeholder="Enter Username">
            </div>
            
            <div class="text-center">
                <button id="submit" class="btn btn-primary" type="button" onclick="postRetrieveUser()">Search</button>
            </div>
        </form>
    </div>
    <div>
        <br/>
        <br/>
        <table id="retrieve" class="table table-bordered">
                    
        </table>
    </div>
</section>