<!-- eventdetail.html: the user interface to show the details of a selected event-->

<section id = "eventdetails">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <style>
        button:hover{
            opacity: 0.7;
        }
    </style>
   <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);max-width: 500px;
                            margin: auto;text-align: center;font-family: arial;">
    <div style="background-color: #007bff;height:200px">
        <p id="name" style="color: white;font-size:28pt">[Name]</p>
    </div>
    <p id="time" style="font-size: 24pt;font-weight: bold "><i class="fa fa-clock-o"></i>&nbsp;&nbsp;[Time]</h1>
    <p id="venue" style="color: grey;font-size: 16pt;"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;[Venue]</p>
    <p id="orgname"><i class="fa fa-male"></i>&nbsp;&nbsp;[Organization Name]</p>
    <div style="margin: 24px 0;">
        <p id="contact"><i class="fa fa-phone"></i>&nbsp;&nbsp;[Contact]</p> 
    </div>
    <p><button onclick="favcomment()" id="favorite" style=" border: none;
                        outline: 0;
                        display: inline-block;
                        padding: 8px;
                        color: white;
                        background-color: #28a745;
                        text-align: center;
                        cursor: pointer;
                        width: 100%;
                        font-size: 18px;">
                        Add to Favorites <i class="fa fa-star"></i>
        </button></p>   
    </div>
    <br/>

    <!--Comment Form-->
    <div class ="commentForm" style="width: 50%;margin-left: 5px;">
        <textarea  class="form-control" type="text" placeholder="Add a comment" style="border-style: none none solid none;resize: none;height: 2.5em;"></textarea>
        <div style="float: right">
            <button type="button" class="btn btn-outline-primary" style="margin-top: 5px;border-style: none" onclick="submitcomment()">COMMENT</button>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <!--Comments-->
    <ul id="commentlist" class="list-unstyled" style="color:#292929;width: 50%;margin-left: 5px;">
        <li style="padding-left: 5px;border-radius: 10px;box-shadow: 0.5px 0.5px 0.5px #888888 ">
            <h5>Nigel Nicholas</h5>
            <p>I like this event :)</p>
        </li>
        <br\>
        <br\>
    </ul>

    <script src= "../javascripts/eventdetails.js"></script>
</section>