<!-- events.html: the user interface to show list of events-->

<section id = "events">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <table class="table table-bordered" id="myTable">
        <tr style="background-color: lightgrey">
            <th onclick="sortField(0)">Name &nbsp;&nbsp;&nbsp;&nbsp;<i id="name" class="fa fa fa-sort"></i></th>
            <th onclick="sortField(1)">Time &nbsp;&nbsp;&nbsp;&nbsp;<i id="time" class="fa fa fa-sort"></i></th>
            <th onclick="sortField(2)">Organization Name &nbsp;&nbsp;&nbsp;&nbsp;<i id="orgname" class="fa fa fa-sort"></i></th>
            <th onclick="sortField(3)">Venue &nbsp;&nbsp;&nbsp;&nbsp;<i id="venue" class="fa fa fa-sort"></i></th>
            <th onclick="sortField(4)">Contact &nbsp;&nbsp;&nbsp;&nbsp;<i id="contact" class="fa fa fa-sort"></i></th>
        </tr>
        <tr>
            <td>A</td>
            <td>0001</td>
            <td>Bat Family</td>
            <td>Gotham</td>
            <td>081234</td>
        </tr>
        <tr>
            <td>B</td>
            <td>0000</td>
            <td>Avengers</td>
            <td>New York</td>
            <td>074423</td>
        </tr>
    </table>
        <!-- Reference: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sort_table_desc -->
        <script>
                var prevFilter = -1;
                function sortField(n) {
                  if(prevFilter!=n){
                    if (prevFilter==0){
                        document.getElementById("name").classList.remove("fa-spin");
                        document.getElementById("name").style.color = "black";
                    }
                    if (prevFilter==1){
                        document.getElementById("time").classList.remove("fa-spin");
                        document.getElementById("time").style.color = "black";
                    }
                    if (prevFilter==2){
                        document.getElementById("orgname").classList.remove("fa-spin");
                        document.getElementById("orgname").style.color = "black";
                    }
                    if (prevFilter==3){
                        document.getElementById("venue").classList.remove("fa-spin");
                        document.getElementById("venue").style.color = "black";
                    }
                    if (prevFilter==4){
                        document.getElementById("contact").classList.remove("fa-spin");
                        document.getElementById("contact").style.color = "black";
                    }
                  }

                  if (n==0){
                    document.getElementById("name").classList.add("fa-spin");
                    document.getElementById("name").style.color = "red";
                  }
                  if (n==1){
                    document.getElementById("time").classList.add("fa-spin");
                    document.getElementById("time").style.color = "red";
                  }
                  if (n==2){
                    document.getElementById("orgname").classList.add("fa-spin");
                    document.getElementById("orgname").style.color = "red";
                  }
                  if (n==3){
                    document.getElementById("venue").classList.add("fa-spin");
                    document.getElementById("venue").style.color = "red";
                  }
                  if (n==4){
                    document.getElementById("contact").classList.add("fa-spin");
                    document.getElementById("contact").style.color = "red";
                  }
                  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                  table = document.getElementById("myTable");
                  switching = true;
                  //Set the sorting direction to ascending:
                  dir = "asc"; 
                  /*Make a loop that will continue until
                  no switching has been done:*/
                  while (switching) {
                    //start by saying: no switching is done:
                    switching = false;
                    rows = table.rows;
                    /*Loop through all table rows (except the
                    first, which contains table headers):*/
                    for (i = 1; i < (rows.length - 1); i++) {
                      //start by saying there should be no switching:
                      shouldSwitch = false;
                      /*Get the two elements you want to compare,
                      one from current row and one from the next:*/
                      x = rows[i].getElementsByTagName("TD")[n];
                      y = rows[i + 1].getElementsByTagName("TD")[n];
                      /*check if the two rows should switch place,
                      based on the direction, asc or desc:*/
                      if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                          //if so, mark as a switch and break the loop:
                          shouldSwitch= true;
                          break;
                        }
                      } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                          //if so, mark as a switch and break the loop:
                          shouldSwitch = true;
                          break;
                        }
                      }
                    }
                    if (shouldSwitch) {
                      /*If a switch has been marked, make the switch
                      and mark that a switch has been done:*/
                      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                      switching = true;
                      //Each time a switch is done, increase this count by 1:
                      switchcount ++;      
                    } else {
                      /*If no switching has been done AND the direction is "asc",
                      set the direction to "desc" and run the while loop again.*/
                      if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                      }
                    }
                  }
                prevFilter = n;  
                }
        </script>
        <script src ="../javascripts/event.js"></script>
        <style>
                th:hover{
                    background-color: aqua;
                }
                tr:not(:first-child):hover {
                    background-color: aqua;
                }
                th, td {
                    text-align: left;
                    padding: 16px;
                    cursor: pointer;
                }
            
            </style>
</section>
