<section id="home">
    <div class="jumbotron jumbotron-fluid">
        <div class="container" id="favlist">
            <h1 class="display-4">Welcome Home, <span class="username">user</span>!</h1>
            <hr class="my-4">
            <p class="lead">Hi, <span class="username">user</span>! Here are your statistics:</p>
            <div class="flex-container" id="stats">
                <div id="events"># events</div>
                <div id="comments"># comments</div>
                <div id="fav"># favorite events</div>
            </div>
            <br \>
            <p class="lead">Events you Have Liked</p>
            <div class="favevent">
                <div class = "col-lg-4">
                    <h4>Time</h4>
                    <h7>Venue</h7>
                </div>
                <div class = "col-lg-8">
                    <b>Event Name</b> <br />
                    <i class="fa fa-male"></i>&nbsp;&nbsp;Organization Name<br/>
                    <i class="fa fa-phone"></i>&nbsp;&nbsp;Contact
                </div>
                
            </div>
            <br \>

            <div class="favevent">
                    <div class = "col-lg-4">
                        <h4>Time</h4>
                        <h7>Venue</h7>
                    </div>
                    <div class = "col-lg-8">
                        <b>Event Name</b> <br />
                        <i class="fa fa-male"></i>&nbsp;&nbsp;Organization Name<br/>
                        <i class="fa fa-phone"></i>&nbsp;&nbsp;Contact
                    </div>
                    
                </div>
                <br \>
            
        </div>
    </div>
    <script src='../javascripts/home.js'></script>
</section>