<!-- search_event.html: html to handle the events got from search result
-->

<!-- events.html: the user interface to show list of events
-->



<section id = "events">
        <p>Click on the field name to sort by</p>
        <table id="myTable" style="width:100%">
            <tr>
                <th onclick="sortField(0)">Name</th>
                <th onclick="sortField(1)">Time</th>
                <th onclick="sortField(2)">Organization Name</th>
                <th onclick="sortField(3)">Venue</th>
                <th onclick="sortField(4)">Contact</th>
            </tr>
            <tr>
                <td>A</td>
                <td>0001</td>
                <td>Bat Family</td>
                <td>Gotham</td>
                <td>081234</td>
            </tr>
            <tr>
                <td>B</td>
                <td>0000</td>
                <td>Avengers</td>
                <td>New York</td>
                <td>074423</td>
            </tr>
        </table>
            <!-- Reference: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sort_table_desc -->
            <script>
                    function sortField(n) {
                      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                      table = document.getElementById("myTable");
                      switching = true;
                      //Set the sorting direction to ascending:
                      dir = "asc"; 
                      /*Make a loop that will continue until
                      no switching has been done:*/
                      while (switching) {
                        //start by saying: no switching is done:
                        switching = false;
                        rows = table.rows;
                        /*Loop through all table rows (except the
                        first, which contains table headers):*/
                        for (i = 1; i < (rows.length - 1); i++) {
                          //start by saying there should be no switching:
                          shouldSwitch = false;
                          /*Get the two elements you want to compare,
                          one from current row and one from the next:*/
                          x = rows[i].getElementsByTagName("TD")[n];
                          y = rows[i + 1].getElementsByTagName("TD")[n];
                          /*check if the two rows should switch place,
                          based on the direction, asc or desc:*/
                          if (dir == "asc") {
                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                              //if so, mark as a switch and break the loop:
                              shouldSwitch= true;
                              break;
                            }
                          } else if (dir == "desc") {
                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                              //if so, mark as a switch and break the loop:
                              shouldSwitch = true;
                              break;
                            }
                          }
                        }
                        if (shouldSwitch) {
                          /*If a switch has been marked, make the switch
                          and mark that a switch has been done:*/
                          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                          switching = true;
                          //Each time a switch is done, increase this count by 1:
                          switchcount ++;      
                        } else {
                          /*If no switching has been done AND the direction is "asc",
                          set the direction to "desc" and run the while loop again.*/
                          if (switchcount == 0 && dir == "asc") {
                            dir = "desc";
                            switching = true;
                          }
                        }
                      }
                    }
            </script>

            <style>
                    table {
                        border-spacing: 0;
                        width: 100%;
                        border: 1px solid #ddd;
                    }
                    th{
                        cursor: pointer;
                    }
                    th:hover{
                        background-color: aqua;
                    }
                    tr:not(:first-child):hover {
                        background-color: aqua;
                    }
                    th, td {
                        text-align: left;
                        padding: 16px;
                    }
                
                </style>
                <script src = "../javascripts/search_event.js"></script>
    </section>
    