<!-- search_form.html: the form for search entry -->

<section id="search">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <div class="container-fluid" style="width: 40%;margin-top: 7em;background-color: #F5F5F5;padding: 1em;border-radius: 15px">
        <form>
            <div class="form-group">
                <label class='lead'>Select Field: &nbsp&nbsp</label>
                    <select id = "efield">
                    <option value = "name">Name</option>
                    <option value = "time">Time</option>                             
                    <option value = "orgName">Organisation Name</option>
                    <option value = "venue">Venue</option>
                    <option value = "contact">Contact</option>
                    </select>
            </div>
            <br>
            <div class="form-group">
                <label class='lead' for="subject"> Keyword: </label>
                <input type="text" class="form-control" id="ekeyword" placeholder="Enter Keyword" name="keyword">
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary" id="submit" onclick="search()">Search</button>
            </div>
        </form>
        <script src = '../javascripts/search_form.js'></script>
    </div>
    <div>
        <table id="retrieve" class="table table-bordered">
                
        </table>
    </div>
</section> 